[2018-05-08 14:15] wgriffa opened #1 "The Shell setup link is giving a 404 error"
Hi if you start from, https://librarycarpentry.github.io/lc-shell/
and then click on the setup (http://librarycarpentry.github.io/lcshell/setup/) link you get....

404
File not found
The site configured at this address does not contain the requested file.
If this is your site, make sure that the filename case matches the URL.
For root URLs (like http://example.com/) you must provide an index.html

[2018-05-08 14:22] wgriffa opened #2 "The link for the updated location for, Unix shell lessons for librarians has a typo"
Hi starting at https://github.com/search?utf8=%E2%9C%93&q=Shell+Lessons+for+Librarians&type=

 data-lessons/library-shell-DEPRECATED
Unix shell lesson for librarians NOW MOVED > https://github.com/LibraryCarpentry/lc-shell

The "NOW MOVED", link takes you to, https://github.com/LibraryCarpentry/lc-
where it should take you to, https://github.com/LibraryCarpentry/lc-shell

Walter Griffatong

[2018-05-09 02:21] weaverbel opened #3 "Find issues to resolve for this lesson"
This lesson has been migrated here to the Library Carpentry organisation.

All issues that need work are still at the old location:

Find issues to resolve for this lesson here:
https://github.com/data-lessons/library-shell-DEPRECATED/issues

Find issues to resolve *there* and fix them **here**.

[2018-05-09 02:55] libcce commented on #1
Link updated from lcshell/setup to lc-shell/setup https://github.com/LibraryCarpentry/lc-shell/commit/ee87452167226846e7b4d20e7fd30a39282d074e

[2018-05-09 02:55] #1 closed

[2018-05-09 03:48] jt14den opened #4 "Look at episode 1: 01-intro-shell.md for breaking up into other lessons"
The `01-intro-shell.md` lesson covers quite a bit of territory:

* navigating shell
* cp, mv and mkdir
* creating a loop
* inspecting files

I counted at least 10 commands in this one lesson. We  break it up into multiple topical lessons like SWC unix shell.

[2018-05-09 22:48] weaverbel commented on #2
Fixed

[2018-05-09 22:48] #2 closed

[2018-05-10 22:58] jduckles commented on #4
We're going to do the gross re-org of this and I'll ask @weaverbel to review and merge. Then we'll pitch a few other improvements to those sections.

[2018-05-11 17:35] jcoliver opened #8 "Add gulliver.txt to data or remove from 06 Free Text lesson"
The free text lesson includes an option (option 1) to work with a file ("gulliver.txt") that is not currently in the shell-lesson.zip archive. The file should be added to the archive or this option should be removed from the lesson.

See: https://github.com/LibraryCarpentry/lc-shell/blob/gh-pages/_episodes/06-free-text.md

[2018-05-11 17:56] jcoliver opened #10 "Update output of ls in 03 Working with files & 05 Counting and mining"
The output of `ls` from within `shell-lesson` does not match the current contents of the directory (See also #8). The current output for the archive (https://github.com/LibraryCarpentry/lc-shell/blob/gh-pages/data/shell-lesson.zip) looks like:
[code]

[2018-05-11 17:57] jcoliver commented on #8
Nevermind. Realized it got renamed from a different file. XD

[2018-05-11 17:57] #8 closed

[2018-05-11 18:08] #10 closed

[2018-05-11 18:42] jcoliver opened #11 "Add details about remaining punctuation in 06-free-text"
In option 1 (working with gulliver.txt), there is this line:

The remaining punctuation marks in the file appear to be curly (or "smart") quotes: “ and ‘ (and corresponding counterparts). Additional information should probably be provided.
+ An easy way to identify that there _are_ still punctuation marks in the file. Note `grep [“‘”’] gulliver-final.txt` works but might be a little heavy-handed.

[2018-05-13 22:28] jt14den commented on #4
@jduckles great work! thanks so much.

[2018-05-13 22:28] #4 closed

[2018-05-30 16:09] kristindawn opened #15 "Change the title to Library Carpentry: Shell Lesson?"
Can we change the title of this to line up with the new title for the Introduction, so it doesn't expressly say librarians?

Thanks!

[2018-05-30 19:18] cmacdonell commented on #15
Hi Kristin, did you want to create a Pull Request for that yourself?

[2018-05-31 07:38] weaverbel commented on #15
I changed it already

[2018-05-31 07:38] #15 closed

[2018-06-01 14:21] weaverbel opened #16 "List of concrete shell tasks?"
We need to create some scenarios and use cases for the shell lesson, and this could be a good sprint task.

We have counting and mining data, we have grep to find info within files, and basic shell navigation, including FOR loops. At my workshop today, people wanted specific tasks the shell can do for librarians. It would be good to create a list.

More info here: https://github.com/data-lessons/l

[2018-06-01 14:23] weaverbel opened #17 "Instructor guides needed"
I would like to see instructor guides developed for all Library Carpentry lessons. This could be a good sprint project. Librarians will probably like to have some guidance on how to teach what for many will be new material. Not sure what instructor guides should consist of? Then see some of the guides for Software Carpentry lessons, e.g. shell - http://swcarpentry.github.io/shell-novice/guide/, py

[2018-06-01 14:41] weaverbel opened #18 "Anatomy of a shell command"
Suggestions from Jamie @jamieviva that we add something on the general structure of bash. So, something like:

COMMAND -FLAG FILE.USED

Then explain structure of what happens thereafter, so:

if you add nothing = print to shell; if you add > FILE.OUTPUT = save to file; if you add '|' = save to memory for next command.

It probably should do somewhere in https://github.com/data-lessons/library-shel

[2018-10-08 02:03] pansapiens opened #28 "Incorrect link to shell-lession.zip"
On this page: https://librarycarpentry.github.io/lc-shell/setup.html

The link to shell-lession.zip is incorrect. It links to the Github page (https://github.com/LibraryCarpentry/lc-shell/blob/gh-pages/data/shell-lesson.zip) but should be the 'raw' download (https://raw.githubusercontent.com/librarycarpentry/lc-shell/gh-pages/data/shell-lesson.zip).

[2018-10-08 02:04] pansapiens commented on #28
Ah - I see there is already a PR for this: #26

[2018-10-08 02:04] #28 closed

[2018-11-07 15:03] jt14den opened #31 "add pipe and filter to cut example on ep. 05"
This is a recommended exercise that can be added to Episode 5 - counting and mining from @weaverbel and @jduckles. Builds on the `cut` *Selecting columns from our article dataset* exercise.

It uses grep, cut, sort, uniq and shows them how to whittle things down and then filter those results to a file for later work. Filtering and subsetting data from big files was something a lot of people would

[2018-12-12 01:37] andrewrs opened #33 "Add instructions on how to cycle through multiple commands matched with CTRL + r"
I'd recommend making an addition to the "[Using history](https://github.com/LibraryCarpentry/lc-shell/blob/gh-pages/_episodes/03-working-with-files-and-folders.md#using-history)"  section of ep. 3 to include instructions on pressing  CTRL + r repeatedly to cycle through all past commands matching the search criteria.

A sentence similar to the following:

Could be placed after "The past command wi

[2018-12-12 01:57] andrewrs opened #34 "A couple suggested small additions (HISTFILESIZE default and "cd -")"
Two additional tidbits that I think students might find valuable:

- Give an example (probably in "[Working with files and folders](https://github.com/LibraryCarpentry/lc-shell/blob/gh-pages/_episodes/03-working-with-files-and-folders.md#working-with-files-and-folders)") of using `cd -` as kind of like a command line ALT + Tab to cycle back and forth between the current and previous directory
- Me

[2018-12-12 22:07] craigboman commented on #34
I wonder if it would be a bit easier when teaching about history to pipe it into a tail command. This would allow instructors to only show the last ten commands of so. Something like: history | tail -n 10

[2019-01-13 02:54] libcce opened #43 "Missing file in the shell lesson zip?"
I just used https://github.com/LibraryCarpentry/lc-shell/raw/gh-pages/data/shell-lesson.zip for a recent workshop and noticed that the Little Women file is missing. @jt14den or anyone else, do you have the file and can you add it to the zip file?

[2019-01-21 15:25] seb951 opened #44 "Creating files in lesson 3"
In lesson 3 (https://librarycarpentry.org/lc-shell/03-working-with-files-and-folders/index.html), the first objective is to "Create files and directories from the command line". But "creating files" is never really introduced or mentioned in the lesson. This will be confusing for a novice learner.

I would recommend either to remove "Create files" from the objectives or have at least one explicit

[2019-01-22 04:48] jodischneider opened #45 "Breaks"
The shell lesson needs 1 or more breaks. I'd suggest after episodes 3, 4, and 5.

[2019-02-15 23:46] dakane1 commented on #17
I would be willing to take a stab at this.

[2019-02-15 23:50] dakane1 commented on #17
Though it looks like one has already been created.  Does this issue need to be closed or are you looking for an update?

[2019-02-18 05:56] libcce commented on #17
@dakane1 in the SQL lesson repo, we are looking at updating the instructor guide/notes, so I think its probably a good idea to do this. @jt14den @uom-nilani what do you think? And do you have notes to share?

[2019-02-20 17:29] dakane1 commented on #17
@libcce If I had notes I could start something, I haven't taught SQL yet so I don't have any insights of my own.

[2019-04-16 21:45] fmichonneau opened #48 "June 2019 Lesson Release checklist"
If your Maintainer team has decided not to participate in the [June 2019 lesson release](https://carpentries.topicbox.com/groups/maintainers/T61c75ac1a8a89538/timeline-and-process-for-june-lesson-release), please close this issue.

To have this lesson included in the 18 June 2019 release, please confirm that the following items are true:

- [x] Example code chunks run as expected
- [x] Challenges

[2019-04-26 18:02] dakane1 commented on #45
Hi Jodi,  Breaks are left up to the instructor to determine.  We follow the lesson guidelines from the Carpentries and they don't include breaks within the lessons or episodes.  Do you feel that episodes 3, 4, and 5 are too long?

[2019-05-01 19:51] annk1010 opened #50 "Lesson #3: editing questions, plus suggestions for shell Guide and Reference"
Lesson #1 and #3 have the same questions at the top (and on the overall schedule), but different objectives. This can cause confusion for students new to Carpentry lessons and new to the shell. Since the questions listed are directly addressed in Lesson #1, I suggest more targeted questions for Lesson #3:

- How can I make a new file?

- How do I edit and rename files?

- Can I cancel a command in

[2019-05-14 23:37] ErinBecker commented on #48
Hi Maintainers! - Just confirming that you're still planning on including your lesson in the June 2019 release. We'll be putting out a blog post tomorrow inviting contributors to work on issues that have been tagged as part of the release milestone, so if there are specific issues you're looking for community help with, please add them to that milestone. I'll make a first pass and add issues curre

[2019-05-27 08:47] fmichonneau opened #51 "the lesson guide is out of sync with the content"
it looks like the instructor guide hasn't kept up with the modification of the lesson and needs to be updated in preparation for the June 2019 release.

[2019-05-30 13:28] mhayslett commented on #48
I'd like to participate in this development for the sprint.  Also, on a related tangent, I'm installing Git on a new computer this morning and realized that the installation video is no longer current.  It's using 2.7.2 and the latest version is 2.21.0.  I realize it's insane trying to keep up with the newest version, but there are now more installation options that the video doesn't cover:  after

[2019-05-30 13:43] mhayslett commented on #48
In the second part of the lesson, using ls -l to get the detailed file list, it's not clear whether that's an L or a 1.  Not sure if there's an easy way to clarify since we're using screenshots for the commands.

[2019-05-31 10:42] #33 closed

[2019-05-31 16:33] dakane1 commented on #48
@ErinBecker Hi Erin, yes we plan on finishing up the checklist by the 7th.  I will be spending next week working on it.  :-)

[2019-05-31 16:36] mhayslett commented on #48
@dakane1 (Danielle, hope you don't mind my having horned in on this checklist--it was the only one I could find for the sprint where I felt like I could really contribute.)

[2019-05-31 17:45] dakane1 commented on #48
@mhayslett Hi Michelle, feel free to add comments.  Our entire goal is to ultimately improve the lesson.  As we go through the checklist we are adding issues for things we want to improve/fix.  I agree with you that "l" and "1" are very hard to decipher.  I need to look at the guidelines to see if they have updated the lesson fonts.  I brought it up as an issue in the last year but haven't had a c

[2019-05-31 19:57] libcce commented on #48
I've checked the links and all work except for the PRs I created https://github.com/LibraryCarpentry/lc-shell/pulls Please someone have a look and merge.

[2019-05-31 20:32] dakane1 commented on #48
Hi Chris,

I can take a look on Monday, currently at a FAIR Data workshop at UCSD.

Best, Danielle

From: Chris Erdmann <notifications@github.com>
Sent: Friday, May 31, 2019 12:58 PM
To: LibraryCarpentry/lc-shell <lc-shell@noreply.github.com>
Cc: Danielle A Kane <kaned@uci.edu>; Mention <mention@noreply.github.com>
Subject: Re: [LibraryCarpentry/lc-shell] June 2019 Lesson Release checklist (#48)

[2019-06-01 22:59] jt14den commented on #51
Thanks @fmichonneau, I'll take a look, but anything specific you noticed?

[2019-06-01 23:06] jt14den commented on #48
I can look at the challenges & solutions. I went thru already and made sure they are rendering correctly and they are.

[2019-06-02 00:14] libcce opened #57 "Change cd to pwd w/ description in setup"
Recommend pwd instead of cd to test/demo that everything is working and provide a brief description: The output will be a path to your home directory.

In https://librarycarpentry.org/lc-shell/setup.html

[2019-06-02 00:25] libcce opened #58 "Include note about Windows 10 Linux distributions for Shell"
Per https://www.bleepingcomputer.com/news/microsoft/microsoft-launches-multi-shell-windows-terminal-console-app/
"One of the most anticipated features is the ability to open tabs for multiple console windows in one Windows Terminal window. When opening tabs, you will be able to select the shell you wish to use, which includes the normal CMD shell, PowerShell, and any associated shells from Linux d

[2019-06-02 00:28] libcce commented on #48
Setup looks good to go! I created two issues/recommendations to possibly improve setup https://github.com/LibraryCarpentry/lc-shell/issues/57 and https://github.com/LibraryCarpentry/lc-shell/issues/58 (but aren't critical).

[2019-06-02 00:36] libcce commented on #48
@jt14den @dakane1 file structure looks clean but I noticed that the files in the zip file for the lesson are listed individually in the data folder. Seems fine but just double checking with you.

[2019-06-02 00:45] jt14den commented on #48
@dakane1 @libcce  when thru Ep.2-3 and ran the code to confirm results, challenges and solutions match. Cycling to something else, but if someone wants to look at Ep.4-6 we can check off the two issues related to challenges. I can loop back but prob won't be till next week.

[2019-06-02 13:35] libcce commented on #48
Hi @dakane1 @jt14den just went through the exercises and everything checks out except for pg514.txt (Little Women text) is missing from the zip file. It is contained in the same data folder as the zip file https://github.com/LibraryCarpentry/lc-shell/tree/gh-pages/data. I added it to the folder and zipped it again but came up against GitHub's file upload limit. Someone else want to see if they can

[2019-06-03 12:32] mhayslett commented on #48
I’m working on the challenges & solutions too, but slowly.

Michele

From: Tim Dennis <notifications@github.com>
Sent: Saturday, June 1, 2019 7:07 PM
To: LibraryCarpentry/lc-shell <lc-shell@noreply.github.com>
Cc: Hayslett, Michele Matz <michele_hayslett@unc.edu>; Mention <mention@noreply.github.com>
Subject: Re: [LibraryCarpentry/lc-shell] June 2019 Lesson Release checklist (#48)

I can look at t

[2019-06-03 17:23] dakane1 commented on #45
@jodischneider Hi Jodi, I'm going to go ahead and close this issue.  See earlier response.

[2019-06-03 17:23] #45 closed

[2019-06-03 17:24] jodischneider commented on #45
Yes, I don't think lessons should be more than 2 hours. So my suggestion is to revisit these and to try to split them out.

Even conceptually, this covers more than it needs.
#5 is 90 minutes -- maybe worth a lesson of its own. I think it's separable from just using the shell.
#6 is 60 minutes -- also quite long, especially at the end of a 4.5 hour + breaks workshop.

One possibility:
If we want a

[2019-06-03 17:32] dakane1 commented on #45
Hi Jodi,

Thanks for your feedback.  The only way I have taught this is as a full day with two breaks and a lunch break.  Let me talk to the rest of the group and see what they think or what they have heard from others.  We will be meeting again sometime in June.  I personally think that 2 hours would be too short and we wouldn’t be able to cover anything substantial but I want other’s opinions be

[2019-06-03 17:43] dakane1 commented on #50
@annk1010 I will start working on the reference.md, there are a few other things I want to add as well!

[2019-06-03 19:07] jodischneider commented on #45
Daniele,

Consider how you would teach this if you only had half a day. The afternoon content could be seen as a "part II" of the same lesson.

(I'm coming at this as an iSchool instructor, introducing the VERY basics of the command line in a required MSLIS class.) I'd like to have an LC lesson to point students to, but I'd want it to be a bit more granular.

[2019-06-03 21:22] dakane1 commented on #45
Hi @jodischneider Jodi,

I will bring up with the other maintainers the possibility of doing a survey of the instructors who teach LC-Shell to get feedback on the length of the workshop.  I think you also need to realize that we are maintaining this lesson for the use of many people who might be using it in different ways and we can’t always adjust the lesson for one individual or for one situatio

[2019-06-04 00:17] elopatin-uc3 commented on #48
@libcce @jt14den I've worked through the text, examples, and exercises in Ep. 1-5. The exercises all check out for me too, but I've found one `wc -l` example that shows incorrect count values, a couple of typos, and an exercise setup section which feels like it should have additional underscores for consistency (the `for` loop exercise in Ep. 4). I'll submit a pull request for these tomorrow morni

[2019-06-04 02:06] libcce commented on #48
Thanks @mhayslett and @elopatin-uc3! Nice to have extra eyes have a look! Looking forward to the PRs.

[2019-06-05 01:57] jt14den commented on #48
@libcce & @dakane1 I zipped up the little women text and got it to push. I added a PR for it.

[2019-06-11 17:32] jmcgranahan commented on #50
this may be too advanced, but I'm not so sure. What about file permissions & ownership? I noticed there is no mention of this anywhere, yet this is one of the largest issues I face when working in the shell. This is especially important on a server, where multiple users are accessing the machine.

And then for automating tasks, there was no mention of the cron. Creating a script is great and is a

[2019-06-11 17:43] libcce commented on #51
Revisiting this issue, @fmichonneau is there anything you noticed that was out of sync? Thanks! cc @jt14den

[2019-06-11 17:45] dakane1 opened #63 "this may be too advanced, but I'm not so sure. What about file permissions & ownership? I noticed there is no mention of this anywhere, yet this is one of the largest issues I face when working in the shell. This is especially important on a server, where multiple users are accessing the machine."
this may be too advanced, but I'm not so sure. What about file permissions & ownership? I noticed there is no mention of this anywhere, yet this is one of the largest issues I face when working in the shell. This is especially important on a server, where multiple users are accessing the machine.

And then for automating tasks, there was no mention of the cron. Creating a script is great and is a

[2019-06-11 17:46] dakane1 commented on #50
@jmcgranahan I created this as a new issue so it won't get buried in our finishing up our lesson release checklist items.  The team will need to discuss this further.

[2019-06-11 17:49] libcce commented on #63
HI @jmcgranahan! There is a section on creating a bash script https://librarycarpentry.org/lc-shell/04-loops/index.html This may be a section where we can point to a tutorial on creating cron jobs just like how we point to a tutorial on bash scripts? Do you have recommendations regarding helpful cron tutorials?

And I've seen instructors use a slide to explain the output of ls -lh and explain file

[2019-06-11 18:01] jmcgranahan commented on #63
@libcee  here's a YouTube video: https://www.youtube.com/watch?v=7MFMnsnfBJs, and here a a pretty good written tutorial from OSTechNix: https://www.ostechnix.com/a-beginners-guide-to-cron-jobs/

[2019-06-11 18:36] dakane1 commented on #63
I think maybe an addendum might work, I guess I'm wondering how many librarians have access to servers to even run into this problem.  I know my library IT keeps the servers pretty much locked down.  So if it was something that could be left out or added in as needed and depending on the audience that might work.

[2019-06-11 20:56] libcce commented on #63
@dakane1 @jmcgranahan regarding cron, we can point to a resource with more info/a tutorial but probably nothing more.

[2019-06-11 23:12] ErinBecker commented on #48
Awesome work @LibraryCarpentry/lc-git-maintainers  and everyone else who contributed! This is just a quick message confirming that this lesson will be included in the release that @fmichonneau and I are preparing this week. The release is scheduled to go through on the 18th and to be announced to the community on the 24th. Please let us know if you have any questions! And congratulations again!

[2019-06-13 22:46] dakane1 commented on #48
@ErinBecker Can we close this issue or do you recommend keeping it open?

[2019-06-18 14:27] katrinleinweber commented on #57
IMHO, that lone `cd` is intended to ensure that all learners start the lesson in their home directory, not so much to test the shell itself, or the download of the lesson files.

What advantage would using `pwd` instead provide?

If `cd` should be changes there (I don't think it has to), I would suggest to add `cd Desktop/shell-lesson` right after `cd`, because this sets the stage for https://gith

[2019-06-18 14:31] katrinleinweber commented on #43
Fixed in 086f1dbf16910e8a6dbe7f2f53aaf7f85ed716f0. Thanks!

@jt14den: You can use [GitHub's closing keywords](https://help.github.com/en/articles/closing-issues-using-keywords) to auto-close issues that you address with a commit ;-)

[2019-06-18 14:37] libcce commented on #57
`cd` doesn't return a response (as new users sometimes need a response to demonstrate that something is working). `pwd` does return your current directory so at least the learner gets an initial response. With regard to Windows users, I've used `pwd` to troubleshoot initially, to get everyone setup properly. But honestly, I don't mind if it doesn't change. It was only a suggestion.

[2019-06-18 18:33] katrinleinweber commented on #57
Ah, I get it: A response could indeed be the point here! Apologies that I didn't think of this before.

[2019-06-19 07:39] katrinleinweber commented on #43
Please reopen. I read further in the lesson, and found [the download instructions](https://github.com/LibraryCarpentry/lc-shell/blame/da00f5edbcd4ea7548c3c903f5720f5e29b11128/_episodes/05-counting-mining.md#L738). That's probably why the file was not included (intentionally).

However, because [PG blocks Germany](https://cand.pglaf.org/germany/), it's good that the file is included here now :-)

H

[2019-06-19 11:08] libcce commented on #43
Thanks for catching this @katrinleinweber !

[2019-06-19 11:13] libcce commented on #43
I can't assign this to you yet @katrinleinweber. I made you a collaborator which should allow me to assign it to you once you have accepted.

[2019-06-19 12:59] jt14den commented on #43
We should change that paragraph instead & it's better to keep in the zip per my experience teaching it. I can work on it.

[2019-06-19 13:25] #43 closed

[2019-06-19 13:49] jt14den commented on #63
@dakane1 you can also include an aside or note in the lesson using the callout blockquote http://carpentries.github.io/lesson-example/04-formatting/#callout. I think this was designed for this type of thing. Also check out the LC instructor notes for this lesson (which I think are copied from SWC) where we explain not including permissions/ownership for the sake of time: https://librarycarpentry.o

[2019-06-20 13:40] jt14den commented on #3
Closing b/c the https://github.com/data-lessons/library-shell-DEPRECATED/issues are all closed.

[2019-06-20 13:40] #3 closed

[2019-06-20 13:49] jt14den commented on #17
I don't have notes on hand, but this issue is related to #51. Instructor notes for this lesson are mostly a copy of the SWC lesson, so reworking to correspond the LC lesson and experience of teaching would be good. I haven't had a chance to read them closely, but we are teaching the shell next month - so can look.

[2019-06-20 14:03] libcce commented on #17
@jt14den my notes are largely based on yours so whatever you propose 👍

[2019-06-20 22:10] ErinBecker opened #66 "Feedback on episodes three and five"
Submitted by email as part of Instructor Training checkout:

Here is my feedback/contribution on the Library Carpentry: The Shell Lesson, specifically in episode three and five.

The tip on Canceling Commands is confusing in its current section.

It references cancelling the previous command to print the contents of a book, but the output is on the screen almost instantly (or in a few instances ta

[2019-06-21 00:31] libcce commented on #44
Thanks @seb951 for the suggestion! Sorry it has taken so long to get back to you but I've created a PR which I think fixes this.

[2019-06-21 00:51] libcce commented on #18
@jt14den @dakane1 @annaoates looks like we never got around to this issue. I found https://softcover.s3.amazonaws.com/636/learn_enough_command_line/images/figures/anatomy.png as an example. We can consider a callout after the introduction here https://librarycarpentry.org/lc-shell/01-intro-shell/index.html like:

prompt$ command -option argument.txt

with some text to explain what each part is?

A

[2019-06-22 21:55] #57 closed

[2019-06-25 02:44] katrinleinweber commented on #44
It's mentioned in passing in https://github.com/LibraryCarpentry/lc-shell/blame/da00f5edbcd4ea7548c3c903f5720f5e29b11128/_episodes/04-loops.md#L30

[2019-06-25 11:54] libcce commented on #44
Forgot to link to https://github.com/LibraryCarpentry/lc-shell/pull/67. The PR has been merged which responded to this issue.

[2019-06-25 11:54] #44 closed

[2019-06-25 12:42] libcce commented on #11
Sorry for the long delay in responding to this issue @jcoliver! I turned the note into a challenge. What do you think https://github.com/LibraryCarpentry/lc-shell/pull/70 ?

[2019-06-27 13:54] libcce commented on #66
Thank you @ErinBecker for forwarding this on and thank whoever submitted it 😄 I've created https://github.com/LibraryCarpentry/lc-shell/pull/72 which hopefully helps? @annaoates @dakane1 what do you think?

[2019-06-27 13:56] libcce commented on #58
@katrinleinweber since you will be teaching the Shell to maybe Windows users. Do you have any advice on where to mention this in setup?

[2019-06-27 14:03] libcce commented on #16
@dakane1 @annaoates @jwscutt @uom-nilani I think this is what you were hoping to do, add more examples? In the SQL lesson we have an extra challenges section https://github.com/LibraryCarpentry/lc-sql/blob/gh-pages/_episodes/10-extra-challenges.md and we added scenarios where libraries might be interested in using SQL https://github.com/LibraryCarpentry/lc-sql/blob/gh-pages/_episodes/01-introducti

[2019-06-27 16:14] katrinleinweber commented on #58
I haven't tested this myself and I'm not sure. It's mentioned in https://github.com/LibraryCarpentry/lc-shell/blame/2291e170c9c270708ed355e2dfd0b4d8debcf265/_episodes/01-intro-shell.md#L36, though, which we should either update at the same time, or remove.

[2019-06-27 17:05] dakane1 commented on #11
Merged @libcce changes, will go ahead and close issue.  Sorry I didn't see this sooner, I didn't realize we now had 2 issues lists :-).

[2019-06-27 17:05] #11 closed

[2019-06-27 17:16] dakane1 commented on #16
@libcce yes, especially in ep. 6 which I just created a project for.  I plan on doing some work on the planning tomorrow prior to our meeting.  It might also be good for the group to think about other episodes where we can add more examples?

[2019-06-27 17:47] jwscutt commented on #16
Hi Chris:

Please do resend if you have a chance, I've reviewed my work and personal
email and I can't seem to locate the invite.  Most likely a user error
somewhere on my part.

Best

John

On Thu, 27 Jun 2019 at 08:03, Chris Erdmann <notifications@github.com>
wrote:

--
I would rather have questions that cannot be answered than answers that
cannot be questioned. - Richard Feynman

[2019-06-27 18:29] libcce commented on #16
@jwscutt just resent the invite and @dakane1 nice use of projects.

[2019-06-27 18:37] jwscutt commented on #16
Thanks Chris!  I am in and caught up now. Thanks for your patience

John.

On Thu, Jun 27, 2019 at 12:29 PM Chris Erdmann <notifications@github.com>
wrote:

--
seallaidhean iongantach

[2019-06-27 18:45] katrinleinweber commented on #16
Maybe a GitHub-wide search for [topic:code4lib+language:Shell](https://github.com/search?o=desc&q=topic%3Acode4lib+language%3AShell&s=updated&type=Repositories) provides some useful examples. The results list can be sorted for most stars/forks to bring up popular projects, or by "most recent" to bring up something new every now and then.

[2019-07-01 20:12] dakane1 commented on #45
Hi @jodischneider, the team discussed this topic at our meeting this morning and we decided to help instructors by acknowledging the time requirements for the lesson, how instructors in the past have placed breaks, chosen lessons etc.  The info will be in the instructor notes which we have an issue open to review and update.  Thank you for bringing it up and we hope by adding this kind of info int

[2019-07-01 20:19] libcce commented on #17
There is a guide. Issue https://github.com/LibraryCarpentry/lc-shell/issues/51 addresses updating the guide.

[2019-07-01 20:19] #17 closed

[2019-07-01 20:28] libcce commented on #51
@dakane1 I've added my instructor notes here https://github.com/LibraryCarpentry/lc-shell/blob/gh-pages/files/instructor-notes.md. They are specific to a workshop at MTSU so we can make them more generic and link to them in the guide.

[2019-07-01 22:03] morskyjezek opened #79 "Reference about gulliver.txt file in 06 working with free text"
Episode 6 currently states: "We’re going to work with the gulliver.txt file we made in the previous lesson." Has it been considered to make this more precise by saying something like "We're going to work with the gulliver.txt file, which we made from the 829-0.txt file in Episode 3, Working with files and folders." (Current formulation is slightly confusing since the previous episode actually rena

[2019-07-01 22:12] dakane1 commented on #79
Hi @morskyjezek we are actually starting a project to overall Episode 6 but in the meantime I will take a look at this and see if I can make the text clearer for instructors.

[2019-07-01 22:13] morskyjezek commented on #79
Oh, okay. I hadn't realized there was a larger revision in motion already, but good to know :)

[2019-07-01 22:14] morskyjezek commented on #79
Happy to close the issue if there's other work already in motion.

[2019-07-01 22:19] dakane1 commented on #79
@morskyjezek hehe we aren't that fast, so far we just have big plans and are doing the project planning.  It's still a good idea to make the change for those teaching the lesson in the meantime. Bring stuff up, we will always tell you why we make certain decisions.

[2019-07-02 13:53] fmichonneau commented on #48
lesson released! :tada: https://doi.org/10.5281/zenodo.3266085

[2019-07-02 13:53] #48 closed

[2019-07-02 17:51] libcce commented on #48
Thanks everyone!

[2019-07-26 14:55] alex-ball commented on #58
I would support including some mention of the WSL option, as it seems a relatively straightforward way to get a fully featured Linux environment on Windows.

Microsoft's help page on this: <https://docs.microsoft.com/en-us/windows/wsl/install-win10>

[2019-07-31 14:31] mtthsdzwn opened #85 "Code in Lesson 5 Counting and mining does not work"
See lesson 5 'Counting and mining with the shell', section 'Automatically adding a date prefix'.

The example in the text uses `date -I`. This does not work on my system (MacOS 10.14.5, GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin18)). I was unable to check for other systems. I find a reference to the `-I` flag [here](http://man7.org/linux/man-pages/man1/date.1.html), but not [here](ht

[2019-08-07 19:31] scottcpeterson opened #92 "Providing sed solutions in episode 6: Working with Free Text"
@drjwbaker I wasn't able to find a solution to the sed challenges in the working with free text lesson ( removing smart quotes using sed). What I found didn't work, and I am not sure if it is because I am on a Windows machine or not. I think it is important for learners to understand how to find answers online, but I also think we should be providing answers to solutions too.

[2019-08-08 06:53] drjwbaker commented on #92
Okay. Thanks for the note. Do you have a proposed solution you could offer?

[2019-08-08 08:16] ostephens commented on #92
Would a compromise be to put solution(s) in the instructor notes rather than directly in the text? This provides a way of introducing the idea it is normal to have to search for solutions to problems online while ensuring that the solution is available during a training session.

Either way, if there are different solutions on different Operating Systems I think this would be worth noting in the c

[2019-08-08 11:26] libcce commented on #92
I like this idea from @ostephens to put the solution in the instructor notes for now. Having said this, I haven't worked out a solution but I believe @jcoliver was working on this section during the recent sprint and at least provided some additional help for the learner. @jcoliver do you have a solution you can share?

[2019-08-08 16:46] scottcpeterson commented on #92
I couldn't find a solution that worked on my Windows machine, so I don't have a solution for this challenge. The one problem I have with putting the solution in the instructor notes is that I don't know how often this section actaully gets taught in a workshop--I didn't have the time to get to it---and other instructors have pointed out to me that they end up directing students to this section to

[2019-08-08 17:07] dakane1 commented on #92
@scottcpeterson We started a project to work on episode 6 for exactly the reasons you brought up.  It always seemed odd to me that we dump them into one big challenge without introducing them to the concepts first.  We hope to solve that problem and I plan to start working on it as soon as soon as I finish a big data cleanup project.

[2019-08-08 17:10] scottcpeterson commented on #92
Thanks @dakane1. That's good to know.

[2019-08-08 18:01] jcoliver commented on #92
Whoa, @libcce , that was _last_ year's sprint where I worked on this. The solution I proposed in is in the (closed) #11 .

[2019-08-08 20:26] libcce commented on #58
Thanks @alex-ball would you be open to suggesting the text/link to include and where via this issue or via a PR? Thanks and sorry for the delay!

[2019-08-20 08:32] alex-ball commented on #85
Yes, it looks like the `--iso-8601` option is available in `date` from GNU coreutils (thus on Linux, WSL, etc. and via Homebrew) but not in the version available by default on macOS.

See, for example, this [question about the `--iso-8601` option](https://unix.stackexchange.com/questions/164826/date-command-iso-8601-option) on StackExchange.

[2019-08-20 09:37] alex-ball commented on #92
@scottcpeterson: is the problem on Windows to do with encodings? If you change the code page to UTF-8 (or some approximation of it) does it work then?

[code]

If you have Unicode support, then you can get remove all quotes with this:

[code]

Though if you care about retaining apostrophes (as opposed to single quote marks) then you really need a proper parser, but the following only has one false

[2019-08-20 13:19] libcce commented on #85
I think a note inline would be fine for now. Can we point to more info about formatting commands as well? @dakane1 what do you think?

[2019-08-20 16:43] dakane1 commented on #85
Hi @libcce I agree I think an inline note with a pointer to more info would be good for now.  We can see how it goes, if more people have questions we can always look at it again.

[2019-08-22 10:35] alex-ball opened #96 "macOS Catalina uses zsh instead of bash by default"
It seems that macOS 10.15 (Catalina), due for general release Fall 2019, uses [zsh instead of bash](https://support.apple.com/en-us/HT208050) by default. I don't think the lesson strays into areas where the syntax differs between bash and zsh, but the Setup page will need to be updated for accuracy at least.

I don't have a Mac so not I'm not ideally placed to comment on whether it would be better

[2019-08-23 21:21] pybrarian opened #99 "Unclear on reference to PowerShell in Introduction"
I just submitted a PR ( #98 ) for a typo in this area, but I am curious about it's meaning. In the introduction under "Where is my shell?" there is the following:

It is unclear to me what is meant by PowerShell natively supports that functionality? Given the previous sentence I read it as saying that PowerShell provides a Unix-like interface. While it provides some aliases for popular Unix comman

[2019-08-26 17:07] mrosed opened #100 "Filename change recommendation"
One of the files in the shell-lesson folder is a JSON file called "000003160_01_text." The long string of zeros is difficult to type while live coding. Perhaps a few (or all of) the zeroes could be removed from the name of this file. Thanks!

[2019-09-06 00:16] scottcpeterson commented on #92
Hi Alex,

Sorry about taking so long to get back to you. I can’t figure out how to
change the code pages to UTF-8 in windows, as the chcp 65001 command
doesn’t seem to work in Git Bash. Using the sed commands below, the quotes
don’t seem to be removed from the files.

Best,

Scott

*From:* Alex Ball [mailto:notifications@github.com]
*Sent:* Tuesday, August 20, 2019 2:38 AM
*To:* LibraryCarpentry/l

[2019-09-06 08:57] alex-ball commented on #92
Sorry, that only seems to work at the regular Windows command prompt.

In the Git Bash window, type this:

[code]

I currently have the following set (which is why it works for me):

[code]

If you don't get that, change the language like this:

[code]

Or whatever suits you best. You can see the options available by right-clicking the window, selecting 'Options...' and finding the 'Text' pane: th

[2019-09-06 18:08] scottcpeterson commented on #92
Hi Alex,

My setting are all UTF-8. When I run the commands you sent, I don’t get an
error message, but the quotes are not removed from the files. Maybe someone
should try this on another windows machine using Git Bash to see if it
might just be something with my setup.

Best,

Scott

*From:* Alex Ball [mailto:notifications@github.com]
*Sent:* Friday, September 06, 2019 1:58 AM
*To:* LibraryCarpen

[2019-09-06 18:20] dakane1 commented on #92
I can try this on machine, but not until next week.  I have next Thursday blocked out to do some LC-Unix work.

[2019-09-09 08:56] alex-ball commented on #92
In the meantime, the only other things I can suggest are:

- double-check that `gulliver-clean.txt` is also UTF-8 encoded;
- copy/paste the quote marks from `gulliver-clean.txt` into your Bash window in place of the ones in my comment above;
- if `gulliver-clean.txt` is definitely UTF-8 encoded, you can use the hexcodes as below.

[code]

[2019-09-13 10:19] alex-ball commented on #92
Okay, we need to get all Reproducible Research on this.

Aim: get a SED solution working reliably on Windows.

Method:

1. Download fresh copy of shell-lesson ZIP, and extract.
2. Install (or upgrade to) latest Git for Windows.
3. In the shell lesson directory, run the following in Git Bash.

[code]

Results: please report OS; version of Git for Windows installed; whether you chose to use MinTTY (

[2019-09-13 23:46] dakane1 commented on #92
@alex-ball I was going to try to get to this today but the work day was crazy.  I will give it a try on Monday.

[2019-09-16 18:53] dakane1 commented on #92
OS: Windows 10
Git for Windows: v2.23.0 64 bit
Terminal used: MinTTY
bash --version GNU Bash 4.4.23 64 bit
sed --version 4.7

![kaned_git_smartquotes](https://user-images.githubusercontent.com/28713952/64984478-ce93a080-d877-11e9-870b-f09e29b2a5c8.jpg)

I think that after I went through this process I understand why we might be having differences.  I was running sed -Ee.... after the entire proces

[2019-09-17 10:44] alex-ball commented on #92
Okay, so we know that the sed command itself works. It's a matter of identifying where the break in the chain occurs. If you will humour a bit more testing, we can do that fairly easily.

In the lines below I provide two different checksums depending on whether the Windows line endings (CR LF) are preserved by `sed` or converted to UNIX line endings (LF). I believe it goes like this:

| Mode | Com

[2019-09-17 10:56] alex-ball commented on #92
@dakane1, no I don't think that's it. It should still work after the counting and sorting as well, but you wouldn't want to do it then because words that were previously different will be now be the same, but they won't be counted together.

From your screenshot it looks like your quotes have not pasted in correctly: with the Lucida Console font in MinTTY they should be distinct:
![sed-lucida-cons

[2019-09-17 11:04] alex-ball commented on #92
On my Windows 10 (10.0.18362) I can input the quote marks with

- Alt + 8216 = `‘`
- Alt + 8217 = `’`
- Alt + 8220 = `“`
- Alt + 8221 = `”`

[2019-09-17 15:06] dakane1 commented on #92
Could someone help Alex with more testing?  I'm leaving in a couple of hours for a cruise to Alaska.  Though if this isn't super urgent I can do the testing once I return on the 30th.

[2019-09-18 17:35] scottcpeterson commented on #92
Hi Alex,

I haven’t upgraded anything, and everything checks out until the last command:

sed '9352,9714d' 829-0.txt | sed '1,37d' | tr -d [:punct:] | tr
[:upper:] [:lower:] | sed -Ee 's/[“”‘’]//g' | md5sum

The answer I get for that command is

LF: d4501f76152305908340bbd90c203e40

Best,

Scott

*From:* Alex Ball [mailto:notifications@github.com]
*Sent:* Tuesday, September 17, 2019 3:45 AM
*To:*

[2019-09-19 08:49] alex-ball commented on #92
@scottcpeterson, thanks for testing. Sorry you saw a message I retracted once I actually looked at  Danielle's checksum and realised it was wrong. This is still very interesting: the `sed` operation definitely did something, but not the right thing.

At that point in the chain, there are no straight quotes so if you were having the same problem as Danielle the checksum would still be d067beda44fbb

[2019-09-19 08:59] alex-ball commented on #92
@scottcpeterson, never mind, I see what has happened. It has removed the curly double quotes but not the curly single quotes. That is odd.

Do the curly single quotes look right on your screen?

[2019-09-19 16:31] scottcpeterson commented on #92
Hi Alex,

Here is the output from that last command:

$ diff gulliver-clean.txt gulliver-noquotes.txt | head -n32

It looks like the apostrophes were pulled from the gulliver-clean.txt

1c1

<                             gulliver’s travels

---

7c7

<                       dean of st patrick’s dublin

---

21c21

< mother’s side  about three years ago mr gulliver growing weary of the

---

42c42

[2019-09-19 16:35] scottcpeterson commented on #92
The double quotes are still in the gulliver-noquotes.txt. Below is a
section from that .txt file.

“golbasto momarem evlame gurdilo shefin mully ully gue most mighty

emperor of lilliput delight and terror of the universe whose dominions

extend five thousand blustrugs about twelve miles in circumference to

the extremities of the globe monarch of all monarchs taller than the

sons of men whose fe

[2019-09-19 16:46] scottcpeterson commented on #92
Here is that text in Gulliver-noquotes.txt with line numbers to make it
easier to find:

  1031  “golbasto momarem evlame gurdilo shefin mully ully gue most mighty

  1032  emperor of lilliput delight and terror of the universe whose
dominions

  1033  extend five thousand blustrugs about twelve miles in circumference
to

  1034  the extremities of the globe monarch of all monarchs taller than the

[2019-09-19 18:35] alex-ball commented on #92
Sorry, yes, of course you're right. I got the same checksum with this:

[code]
and then got confused.

It's still quite odd that one set works and the other doesn't.

The problem with the `\xNN` notation for hex codes is that support for it is patchy across versions (I don't think the Mac version currently supports it, for example).

Does it work any better as a shell script? Here is one (zipped)

[2019-09-19 18:58] scottcpeterson commented on #92
It worked using the shell script. The quotes are gone from the lines I sent you earlier.

[2019-09-19 20:36] alex-ball commented on #92
Excellent, so we have a working solution. It seems the problem lies in entering the right characters on the command line without them being converted to (or misread as) something else.

We introduce Bash scripts in episode 4, so it would not be too much of a stretch to suggest that people use a Bash script to solve this issue. Possibly this makes a good learning point about how to deal with non-AS

[2019-11-04 13:42] birgitfrenz opened #106 "Episode #4: Explanation and example differ"
The explanation in the paragraph "Double-quoting variable substitutions" and the example above (writing a loop) differ in the order. The explanation says "The interpreter runs the command cp on a.doc, and then prints the filename to the screen". In the example the filename is printed first.

[2019-11-11 15:16] jyssy commented on #106
Should be taken care of (switching the language in the description to reflect the rest of the description as well as the example above it).

[2019-11-11 15:23] jyssy commented on #100
How would I reupload an edited ZIP file here with an edited json file (with a shorter name)? I will also need to make sure any reference to the file in the instructions is correct and the same. thanks for your guidance.

[2019-12-10 14:31] ha0ye opened #109 "`date` command in episode 5"
per @aadoek

The unix `date` command takes different options on Mac OS (because Mac uses BSD command line utilities rather than GNU). For this reason some of the examples that use `date -I` (to return the system date in ISO-8601 format) don't work.

A suggested fix is to specify the full date format for Mac:
`date +%Y-%m-%d` instead.

[2020-01-06 22:12] MikeSerafin opened #112 "Small typos in "Navigating the filesystem" lesson"
On https://librarycarpentry.org/lc-shell/02-navigating-the-filesystem/index.html - in the box "Getting help", second paragraph, Windows is not capitalized and shell is capitalized.

[2020-01-06 23:15] ErinBecker opened #113 "Automating the tedious with loops [submitted by email]"
Dear Maintainers - I received the following .md file as a submission through email to checkout@carpentries.org.

---
title: "Automating the tedious with loops"
teaching: 20
exercises: 10
questions:
- "What is a loop?"
- "How can a loop be used to repeat a task?"
objectives:
- "Build a concept for how loops can be used to repeat tasks"
- "Implement a loop to rename several files"
keypoints:
- "Loop

[2020-01-06 23:59] dakane1 commented on #113
I think we have to compare this to the lesson to figure out what all the recommendations are.

The one thing I notice right off the bat is the addition of keypoints, which isn’t a standard part of our formatting, i.e. not included on any of the other sections of the lesson.

I have some time this week to take a look at the rest of this and if I find anything I will either create an issue or a pull

[2020-01-07 00:46] egrguric opened #114 ""ambiguous redirect" error with "date" variable in episode 5"
This relates to "Mining or Searching" here: [https://librarycarpentry.org/lc-shell/05-counting-mining/index.html](url)

This command throws two errors on macOS Mojave:

[code]

First error is documented in [this issue](https://github.com/LibraryCarpentry/lc-shell/issues/109). After solving for this by removing the -I it still throws this error:

[code]

One fix is to put quotes around $(date):

[c

[2020-01-08 23:22] mharp commented on #109
This is indeed and issue (experienced in macOS Catalina) suggest including a notation our callout for Mac users.

[2020-01-08 23:40] mharp opened #115 "Result for "echo "Library Carpentry is awesome!" not returning proper result without editing"
Could not tell if this is an already reported issue.
Environment: macOS Catalina - iMac and MacAir

In episode [Working with files and directories /](https://github.com/LibraryCarpentry/lc-shell/blob/gh-pages/_episodes/03-working-with-files-and-folders.md) Using the echo command
`echo "Library Carpentry is awesome!"`

Returns a request for final quote:
`dquote>`

however the "!" (exclamation point

[2020-01-22 19:46] jyssy commented on #100
I submitted a PR and Tim Dennis will upload the zip with the new file names

[2020-01-28 09:37] andreaswalker opened #118 ""Searching with regular expressions" in "Counting and Mining" and its flags"
The exercise "Searching with regular expressions" in "Counting and Mining with the Shell" and its proposed solution could probably use some re-wording: If the file created is to only contain the found ISSNs, the command already requires the -o flag (which is only pointed out in the exercise below). Also, the -E flag version fails rather silently (i.e. simply doesn't produce any result, rather than

[2020-01-28 13:32] andreaswalker opened #119 ""Pulling a text apart, counting word frequencies" in Working with free text"
https://librarycarpentry.org/lc-shell/06-free-text/index.html
`$ tr ' ' '\n' < gulliver-clean.txt | sort | uniq -c | sort -r > gulliver-final.txt`
should be
`$ tr ' ' '\n' < gulliver-clean.txt | sort | uniq -c | sort -rn > gulliver-final.txt`
for numerical counting; maybe we should also explain the -r flag?

[2020-01-28 13:38] andreaswalker opened #120 "Filenames do not match in Working with free text, Option 2"
https://librarycarpentry.org/lc-shell/06-free-text/index.html
Option 2, Optical character recognised text, uses a file called 000003160_01_text.json; however, the command below uses a different file name (which is then also used subsequently):

`$ tr -d [:punct:] < 201403160_01_text.json > 201403160_01_text-nopunct.txt`

[2020-02-07 21:52] karenword commented on #96
Relevant point added as a contribution for checkout, sent via email:

"As part of helping at a recent Carpentries workshop at University of Toronto Scarborough, I noticed that Bash was replaced with zsh as the default shell in 2019 for Apple users (according to this report).

Would it be worthwhile to indicate this change on the Library Carpentry UNIX Shell lesson? (https://librarycarpentry.org/lc

[2020-02-11 17:11] alex-ball commented on #119
The change to numerical sorting is proposed in PR #94. Thanks for confirming my thoughts on this.

I agree the `-r` flag ought to be explained somewhere, or explaining it could be an exercise/question to ask learners.

[2020-02-11 17:40] alex-ball commented on #115
This is an example of code that is not portable between bash and zsh, the latter being the new default on Macs. Relates to #96.

The issue is that `!` is used (I think) to introduce a history-searching expression in zsh, which means it swallows the following double quote. You either have to escape it:

[code]

or use single quotes instead, so it is not interpreted as a special character.

[2020-02-11 17:51] alex-ball commented on #109
Duplicate of #85.

[2020-02-11 18:32] alex-ball opened #125 "Final operation for options 1 & 3 "Working with free text" only works accurately on Windows"
In episode 6 "Working with free text", the files `829-0.txt` (that becomes `gulliver.txt`) and `diary.txt` are provided with Windows line endings (CRLF or `\r\n` if you prefer).

On Windows, `sed` automatically strips out the `\r` characters, leaving the UNIX line ending (LF, `\n`), so when we get to the grand finale, e.g.

[code]

the translation works as expected to put all words on their own li

[2020-03-13 14:10] rfbrown commented on #112
I've submitted a PR for this issue here: https://github.com/LibraryCarpentry/lc-shell/pull/129

[2020-04-01 17:48] sarah0809 opened #130 "Abbreviation"
The output will be a path to your home directory. Let’s check if we recognise it by listing the
     contents of the directory. To do that, we use the ls command:

I would introduce here the abbreviation and say 'ls stands for list.'

[2020-04-08 09:26] konrad commented on #85
I also stumble into this issue during a lesson. Would be great if this could be fixed e.g. by adding the adapted call from @mtthsdzwn for Mac user or in general although not a elegant as call with "-I". Thanks!

[2020-04-13 14:15] nichworby opened #131 "'Automatically adding a date prefix' in 05-counting-mining.md"
'Solution' suggests using `date --help`. This only works for Windows users. `man date` should be added for OS/Linux users.

[2020-05-20 17:18] #120 closed

[2020-05-20 18:26] jt14den commented on #115
Thanks @alex-ball and @mharp!

[2020-05-20 18:26] #115 closed

[2020-05-20 18:30] jt14den commented on #112
Thanks @rfbrown & @MikeSerafin

[2020-05-20 18:30] #112 closed

[2020-05-20 18:32] jt14den commented on #100
Thanks @mrosed @jyssy and @alex-ball

[2020-05-20 18:32] #100 closed

[2020-05-27 03:03] #58 closed

[2020-05-27 22:19] jt14den commented on #119
Thanks @andreaswalker and @alex-ball!

[2020-05-27 22:19] #119 closed

[2020-05-27 22:24] #66 closed

[2020-06-01 09:55] alex-ball commented on #118
In fairness, the exercise "Searching with regular expressions" does explicitly point out that you might need `-P` instead of `-E` (in order for the bare `{` characters to be treated specially). Some would take that as a prompt to check, but yes, as there is no feedback when the pattern doesn't match, it might be best to include a reminder to look at the answer with `less`.

The greater problem lie

[2020-06-01 11:45] alex-ball commented on #114
If you just remove the `-I` bit, your command will expand to something like this:

[code]

The spaces mean you are specifying six files there, hence "ambiguous redirect". You are right that the quotes fix the error (by effectively escaping the spaces), but you end up with a terrible file name. You really need the fix described in #109:

[code]

[2020-06-03 10:22] alex-ball opened #135 ""Invalid option – o" in episode 5 out of date"
In Episode 5, the callout "Invalid option – o?" says

https://github.com/LibraryCarpentry/lc-shell/blob/2ab6df7c2975f8aed998023c97eee14249f1f8ff/_episodes/05-counting-mining.md#L612-L614

This was true when the callout was added (2 June 2017 in 1969f757) but someone may have been listening because it's not the case any longer. If I'm reading the right bit of source code, the option was added to Gi

[2020-06-20 17:45] #85 closed

[2020-06-20 17:45] #109 closed

[2020-06-20 17:45] #114 closed

[2020-06-20 17:46] #125 closed

[2020-06-20 17:49] #118 closed

[2020-06-20 18:31] jt14den commented on #135
@alex-ball Thanks for figuring all this out! Since we ask learners to install the latest Git Bash on Windows and it's been a couple of years, I'd vote for removing the callout altogether. From my experience, most learners are brand new to bash and install Git Bash on Windows for the first time for the workshop.

[2020-06-20 18:51] #106 closed

[2020-06-20 19:45] #96 closed

[2020-06-20 20:24] jt14den commented on #92
Following up on this @alex-ball, @scottcpeterson & @dakane1. Is there a path forward on this issue? The challenge that kicked off this thread unearths a lot of complexity around character encoding that seems beyond a novice level. We could change the challenge into a callout instead giving learners a heads up on the variation in diff. character types and OS's.

[2020-06-25 08:50] alex-ball commented on #135
I see this is also mentioned in the Instructor Notes. How about we remove it from the lesson text but update the Instructor Notes to say that if a learner has trouble with the -o flag, they should update their Git Bash for Windows? As you say, this is unlikely ever to come up again, but you can imagine there will be that one exceptional case...

[2020-06-25 15:09] jt14den commented on #135
@alex-ball cool! Sounds good and it's def. good to keep in instructor notes for when it comes up.

[2020-06-29 13:47] alex-ball commented on #131
Not that this negates this issue in any way, but the GNU `date` command on Linux does have a `--help` option, so it is only the macOS X version that is affected.

[2020-06-29 19:46] #135 closed

[2020-06-30 22:37] AdrienneCanino commented on #130
I took a swing at this, re-phrasing the prose a little and explaining the abbreviation. It is pull request:
#138

[2020-07-17 00:50] alyssafahringer opened #139 "Lesson 2 - description of shell appearance"
In Lesson 2: Navigating the filesystem, it says:

`Let’s start by opening the shell. This likely results in seeing a black window with a cursor flashing next to a dollar sign.`

I use MacOS Catalina, and with the upgrade the default shell is now zsh rather than bash. I would note that some Mac users might see a white window and a dollar sign, or a white window, tilde, and percentage sign.

[2020-07-22 13:36] #130 closed

[2020-07-22 13:39] jt14den commented on #92
@alex-ball can you give it a try?

[2020-07-29 23:45] #92 closed

[2020-08-07 21:45] karenword opened #143 "email submission: suggest adding Hello World"
Submitted via email Aug 4, 2020:

"I checked the training material of all carpentries and I was wondering
why there is no "Hello World" example in all fields available. In
general, when I started programming in different languages and with the
command line, there was always in the beginning an example including
something with "Hello World", e.g. for Unix

echo Hello World

was my first command in

[2020-08-19 23:54] kristi-sara opened #146 "Invalid Grep-o flag - Ep.5 Counting and Mining.md"
Under the searching and mining portion of the lesson, the code:' _**grep -iwEo 'Cont[ae][cn]t' *.csv**_ ' (under Mining and Searching) has learners use the **grep -o** flag, however, some users have an older version of grep that does not recognize the flag and this can cause confusion among learners despite it being a legitimate flag. It would be appropriate to add a tip blurb explaining why this

[2020-08-27 19:35] scottcpeterson opened #147 "Counting number of files part I and II exercises are a bit misleading and probably unnecessary"
The Counting number of files part I and II exercises in the "Counting and Mining in the Shell" episode can be easily done by the command ls | wc -l since the total is not included in an ls command. When we use the ls -l | wc -l command a line total in the ls -l output throws the count off by one. We then come back to this exercise later in the episode to fix this "one more" problem with grep, thou

[2020-08-28 15:00] jt14den commented on #147
Thanks @scottcpeterson, would welcome a PR on this.

[2020-08-29 20:29] trecakov opened #150 "Explaining more in detail output of "ls -l""
Hi Library Carpentry maintainers,

I was wondering if we could mention/briefly explain what does this output in episode 2 means.

total 0
drwx------+  6 riley  staff   204 Jul 16 11:50 Desktop
drwx------+  3 riley  staff   102 Jul 16 11:30 Documents
drwx------+  3 riley  staff   102 Jul 16 11:30 Downloads
drwx------@ 46 riley  staff  1564 Jul 16 11:38 Library
drwx------+  3 riley  staff   102 Jul

[2020-09-16 14:32] SarahKateSchafer opened #151 "Lesson 2 - Explaining arguments/flags more clearly"
This refers to Lesson 2 in the Unix Shell - https://librarycarpentry.org/lc-shell/02-navigating-the-filesystem/index.html

When arguments/flags are first mentioned in Lesson 2, their function could be made clearer.
For example, an explanation that with command ls:
-l is for outputting as a long list;
-h is for outputting in human-readable form; and
-S is for sorting (largest first).

These are cov

[2020-10-02 18:52] madwarner99 opened #152 "Instructor Notes - typos?"
Hi there!  This from a newbie, so I'm not sure if these are errors, but I'm finding them confusing.

https://librarycarpentry.org/lc-shell/guide/

1.  From the first line of the 3rd paragraph of the Overview section:
The third answer is, “Because it enables use of many domain-specific tools and compute resources researchers cannot access otherwise.”
Should the word compute be computer?

2.  From t

[2020-10-16 10:52] alex-ball commented on #152
1. This is a bit of computer science jargon, but "compute" is used a bit like "storage", that is, to refer to computation as a function or service that an organization provides. So "compute resource" refers to any service on which you can run a computational "job" and get a result back. (In some big data scenarios, you would never download the data and analyse it locally; instead you would send an

[2020-10-16 11:20] alex-ball commented on #147
Possibly the original concern was about cognitive load? Because the lesson says that `wc -l` counts the number of lines, and by default `ls` outputs as many items on a single line as it can, so it is by no means obvious that `ls | wc -l` would work. So it seems to me you either have to go into *why* it works or introduce the confusingly similar-looking `ls -1` command to make the answer more obvio

[2020-10-16 11:34] alex-ball commented on #146
We used to have the warning of which you speak, but removed it because the older grep you refer to is quite old now: see Issue #135.

There is a note about this in the Instructor Notes:

Is the prevalence of the v2.18-and-earlier Git Bash for Windows greater than we anticipated?

[2020-10-16 15:51] alex-ball commented on #113
From what I can gather from looking at the commits from around 2020-01-06, the intended change is as follows.

https://github.com/LibraryCarpentry/lc-shell/blob/a8f16aa84d6a51995cb9e7e2ede61e555465c38d/_episodes/04-loops.md#L47-62

changed to

[code]

Though to get that output you would actually need this:

[code]

[2020-10-16 16:23] alex-ball commented on #150
You are in good company asking about this. The [matter was raised](https://github.com/LibraryCarpentry/lc-shell/issues/63#issuecomment-500952337) in relation to a wider discussion about file permissions and use of cron, but you're right, I think it should be given some more targeted consideration.

For people who have not come across the idea of file permissions and ownership before, I think the e

[2020-10-26 12:00] alex-ball commented on #151
It would be great if you could suggest ways of working these explanations into the lesson text.

Here are the relevant parts for comparison:

https://github.com/LibraryCarpentry/lc-shell/blob/0366d2d8b3dd965c6c55f397a77eb0b51a0c0c14/_episodes/02-navigating-the-filesystem.md#L59-L61

https://github.com/LibraryCarpentry/lc-shell/blob/0366d2d8b3dd965c6c55f397a77eb0b51a0c0c14/_episodes/02-navigating-t

[2020-12-08 22:12] Talishask opened #157 "Lesson Contribution- Hit vs Press"
I'm a member of The Carpentries staff and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.
---

On the Navigating the file system lesson, in the below paragraph:

Let's type pwd and hit [press] enter to execute the command (Note that the $ sign is used to indicate a comma

[2020-12-15 10:56] enerammer opened #158 "Rewriting the introduction is 'What is the shell?'"
I think some key points about the shell is not clearly explained in the introduction to the lesson 'What is the shell?'. It could be a good idea to look at the 'background' section here http://swcarpentry.github.io/shell-novice/01-intro/index.html. It is very clearly explained what a shell is.

[2021-02-08 22:31] #31 closed

[2021-03-31 13:30] morskyjezek opened #167 "Has it been considered to split the counting & mining episode into two?"
I've taught the shell lesson twice online now (since we moved to zoom/video workshops in 2020), and the episode "Counting and Mining with the Shell" seems too long for this environment where it's nice to split up more frequently with short breaks. Has it been considered to split this episode to two episodes (first one on counting, using "wc") and a second one (on data mining/filtering, using "grep

[2021-07-07 14:49] kristindawn opened #169 "Change "Evil plan" example"
In the "Navigating the file system" episode "Evil plan to destroy the world" is given as an  example of something you can't cd to. While the intention is to make a joke I don't think it translates well outside of a specific group, especially outside the US. Something more generic might be better, maybe "List of items to purchase" or "Things to learn about the shell".

[2021-09-03 19:32] jmjamison commented on #99
This may not be the appropriate place to ask but shouldn't the linux subsystem for windows subsystem be added?  Someplace.

[2021-09-10 17:42] #169 closed

[2021-09-27 18:38] LukasCBossert opened #171 "Add a section about short-cuts to the reference"
Working with the shell I find it very handy to use certain short-cuts when navigating through the shell-history or the commands I am using.

I found a nice overview provided by the German LC-workshop on [*Bits and Pieces for the carpentry workshops*](https://github.com/foerstner-lab/Bits_and_pieces_for_the_carpentries_workshops/blob/main/short_references/Kurzreferenz_shell.md#tastaturk%C3%BCrzel).

[2021-09-29 22:40] jmjamison commented on #143
Good point. That's a tradition for many of us who have taken programming classes. (Mine go back to IBM 370 Assembly and Pascal) However many of the people taking the Library Carpentry Intro to Shell class aren't programmers or familiar with the tradition. "Hello World" would fit more comfortably with an intro to programming workshop, especially Python rather than here.   But thank you for the sugg

[2021-09-29 22:40] #143 closed

[2021-09-29 22:40] jmjamison commented on #143
Good point. That's a tradition for many of us who have taken programming classes. (Mine go back to IBM 370 Assembly and Pascal) However many of the people taking the Library Carpentry Intro to Shell class aren't programmers or familiar with the tradition. "Hello World" would fit more comfortably with an intro to programming workshop, especially Python rather than here. But thank you for the sugges

[2021-10-07 18:18] venicebayrd opened #173 "lc-shell's CONTRIBUTING.md -- should links point to lc-data-intro, or lc-shell?"
***I am effectively new to GitHub and the Carpentries; please pardon any error I might be making in opening this issue here.

I have been preparing to make a contribution for instructor training, and wanted to use this as an opportunity to learn how to create pull requests and issues on GitHub.  However, on reviewing [lc-shell's CONTRIBUTING.md file](https://github.com/LibraryCarpentry/lc-shell/bl

[2021-10-18 20:23] jmjamison commented on #99
I'd agree that WIndows PowerShell doesn't provide the functionality.  I never use it myself and just tried some commands.  I use Linux subsystem myself.
I think mentioning PowerShell might be confusing.  GitBash would be a better choice unless people have the subsystem installed.  I'd be interested to know what others think and if this should be a pull request.

[2021-11-04 10:04] lizlou commented on #158
I agree, having read the 'background' section I think it would help the participants of the course have a better understanding, especially if they aren't confident in their knowledge. At the moment with most of the training being conducted online, perhaps having some of the information on the prerequisites would save some time?

[2021-11-06 16:02] emcaulay opened #177 "Mismatch between file name in Episode 5 (Counting and Mining) and Shell-lesson zip data files"
Hi all,

I'm passing on a comment that was passed on to me, but I did verify the problem reported on my own. An instructor reported it to @ErinBecker and she shared it with me.

In Episode 5, on line 67 and 77 there is direct reference to a file named `2014-01_JA.tsv`, but when I download the zip file that is supposed to be the source for this file for the shell-lesson (available here in the "prer

[2021-11-08 15:23] JCSzamosi opened #178 "Missing file 2014-01_JA.txt"
Hello! An instructor trainee has pointed out to me that the zip file at https://librarycarpentry.org/lc-shell/data/shell-lesson.zip is missing the file 2014-01_JA.txt, which is required for the lesson.

[2021-11-08 16:59] emcaulay commented on #178
Dear Maintainers, Please see also #177 -- which is about this same problem.

[2021-11-08 18:13] chendaniely commented on #177
I looked through some of the history. it looks like this version of the zip file has the missing `2014-01_JA.tsv` file from this commit: https://github.com/LibraryCarpentry/lc-shell/commit/dffc00a37dbb062d9bccb3dfbf492488f25ae727

https://github.com/LibraryCarpentry/lc-shell/blob/d1334d832c6f1c745901535d52465ee4b57945b0/data/shell-lesson.zip

I haven't actually tested it with the lesson materials,

[2021-11-09 03:34] ErinBecker commented on #178
Closing as duplicate. Please see conversation on #177

[2021-11-09 03:39] ErinBecker commented on #177
Thanks for getting this issue in @emcaulay and sorry for forgetting which lesson you maintain! 😆

I'm happy to put in a PR to add the missing file (thank you @chendaniely for finding it!). Assigning to myself.

[2021-11-09 15:33] ErinBecker commented on #177
The problem is actually bigger than I thought!

1) There are multiple files missing from the zip file:
* 2014-01_JA.tsv
* pg514.txt
* 201403160_01_text.json
* diary.html
Each of these files is used in the lesson and needs to be included in the zip file. All but `2014-01_JA.tsv` are included as individual files in the /data/ directory.

2) When I attempt to add the missing files to the zip file and

[2021-11-09 17:20] kaitlinnewson commented on #177
@ErinBecker in the live version, the only file I see missing when I download the zip is `2014-01_JA.tsv`. It may work if you zip the large tsv file first, then add it into the new zip.

[2021-11-09 17:29] kaitlinnewson commented on #177
I saw this shared in the Slack thread as well - it looks like it was previously zipped to get around the file size issue: https://github.com/LibraryCarpentry/lc-shell/tree/896c23489adaefebeaf316e75686f6a69f79fc81/data

[2021-11-10 14:28] ErinBecker commented on #177
Thank you @kaitlinnewson! I'll give this a try today.

[2021-11-10 19:32] chendaniely commented on #177
The R [piggyback](https://github.com/ropensci/piggyback) package allows you to leverage Github Releases to upload and work with large files.
If the underlying zipfile isn't going to be changed too much. we can think about using the releases to store zipfiles for the lessons moving forward.

[2021-11-16 18:12] #177 closed

[2021-11-17 10:42] aadoek opened #180 "Desktop in OneDrive"
in recent Library and Software Carpentry workshops I noticed that the Setup instructions of this and other lessons present a problem to Microsoft OneDrive users.
The instruction is to install software and/or files **on the Desktop**.
Microsoft seems to have placed the Desktop in OneDrive. Things in OneDrive are not fully under the user's control. So at some points the participants are asked to do

[2021-12-09 21:22] kmacvaug commented on #158
I also concur that drawing on the SW shell introduction would be useful. The Library introduction is heavy with text and I prefer the code examples on ([ http://swcarpentry.github.io/shell-novice/01-intro/index.html. ], as well as the example user profile (could be switched to a librarian working on the ebook metadata project).

[2021-12-09 21:44] kmacvaug opened #181 "Including images in Ep. 2 Navigating the filesystem"
Hi there! I've noticed, like @enerammer did about the introduction, that the software carpentry version of the Unix Shell lesson has some more engaging and clear content. I recommend adding the images and some of the explanation (Home Directory Variation and Slashes) found on "Navigating Files and Directories" in the SW version [https://swcarpentry.github.io/shell-novice/02-filedir/index.html](htt

[2021-12-10 15:20] tobyhodges commented on #180
Thank you for reporting this issue, @aadoek 🙌 This is a perfect fit for [our wiki page on Configuration Problems and Solutions](https://github.com/carpentries/workshop-template/wiki/Configuration-Problems-and-Solutions#bash). I would like to provide more information about exactly what happens the first time such an error is encountered, to help people recognise the issue when it arises, but unfort

[2022-01-10 17:55] bellaratmelia opened #183 "Feedback for Episode 6. Working with free text (sort -nr and carriage return)"
I have two feedback/suggestions for **Episode 6. working with free text:**

### First feedback:
I think it will be great to mention that the command `sort -nr` will reorder things in reverse order. At the moment, the explanation only said:

So perhaps the following sentence can be added:

### Second feedback:
I think it will be useful to put a brief explanation on what is a "carriage return", how

[2022-01-11 02:00] kgilje opened #184 "Bad Link to Putty"
https://github.com/LibraryCarpentry/lc-shell/blob/ec9d2f905f2ab5c844c0a2555c48361d2e2240d4/setup.md?plain=1#L30

Hello,
The link intended for putty redirects to : https://www.danielrreynolds.com/
I can't find any reference to putty, instead I recommend pointing to https://www.putty.org/ as it is the package's official website.
It does direct people to : https://www.chiark.greenend.org.uk/~sgtatham

[2022-01-13 16:18] #184 closed

[2022-01-13 16:19] kaitlinnewson commented on #184
Thanks for reporting this @kgilje! I've updated the link to the official website.

[2022-01-13 16:34] kaitlinnewson opened #186 "Empty "Figures" page"
If you select the "Figures" link under "Extras", you are brought to an empty page. Based on [the SWC lesson](https://swcarpentry.github.io/shell-novice/figures/index.html), this should display all of the figures throughout the lesson materials.

[2022-01-19 21:55] aidamiro opened #187 "Episode 4 grammar edit suggestion"
This is a contribution for my instructor training check out.
On episode 4 (Automating the Tedious with Loops) in the Same Symbols, Different Meanings the sentence reads:

If you type > or $ **yourself**, it is an instruction from you **that** the shell to redirect output or get the value of a variable.

Suggested change:

If you type > or $ **in the shell**, it is an instruction from you **to** th

[2022-01-19 23:14] annajiat opened #188 "Need jump lists (anchors) for headings"
@zkamvar
We need to update style for this lesson so that jump lists (anchors for different sections) becomes automatically available for different levels of headings.

[2022-04-27 07:30] CSGeer commented on #158
To add to this, I would suggest updating the "Key Points" at the bottom of the lesson to include the following points from the SW lesson linked above:

- The shell’s main advantages are its high action-to-keystroke ratio, its support for automating repetitive tasks, and its capacity to access networked machines.
- The shell’s main disadvantages are its primarily textual nature and how cryptic its

[2022-04-27 08:14] CSGeer commented on #187
Would it be better to split it into to lines to make it clearer what the two symbols do? (i.e. "If you type > in the shell..." and "If you type $ in the shell...")

[2022-05-11 17:57] alexander-winkler opened #190 "Introduce `tree` in episode 2 (navigating the file system)"
I was wondering if it is a good idea to introduce, in episode 2, the `tree` command alongside `ls`. It's of course used less frequently but it provides a pretty good visualization of the tree structure of the UNIX file system.

To push it even further, one might use a window multiplexer (`tmux`), split the shell into two halves, and show on one side a dynamically updating tree-structure (`watch -n

[2022-05-11 19:25] kaitlinnewson commented on #190
Hi @alexander-winkler, thanks for your suggestions. One concern I would have about adding `tree` to the lessons is that it's not included in the setups we typically support - with Mac I had to install it with Homebrew, and I don't believe it's included with GitBash (though I don't have an environment setup to test with).

I think concepts like window splitting or `watch` would be too complex to in

[2022-05-14 17:44] #186 closed

[2022-06-01 11:13] pryn-kb opened #194 "Error due to missing quotation marks in code"
At the "**Working with free text**" page, section "**Grabbing a text, cleaning it up**", we are asked to perform the following line:
`tr [:upper:] [:lower:] < gulliver-noheadfootpunct.txt > gulliver-clean.txt`

However, this gives the error:
`no matches found: [:upper:]`

This is due to missing quotation marks around [:upper:] and [:lower:].
The correct code is:
`tr '[:upper:]' '[:lower:]' < gulli

[2022-06-07 19:33] #187 closed

[2022-06-07 19:33] #79 closed

[2022-06-07 20:00] #194 closed

[2022-06-07 20:01] kaitlinnewson commented on #194
Thanks for the issue report @pryn-kb! This has been resolved.

[2022-06-07 20:37] #173 closed

[2022-06-07 20:46] kaitlinnewson commented on #139
Resolved in #161

[2022-06-07 20:46] #139 closed

[2022-06-08 19:36] #152 closed

[2022-06-08 19:43] kaitlinnewson commented on #63
Closing this issue as both permissions and cron tasks are more advanced topics that would be difficult for most instructors to fit into the lesson materials, and would not apply to many users that don't have server access (as noted above). Please comment and we can revisit if there is a case for including these concepts.

[2022-06-08 19:43] #63 closed

[2022-06-22 02:08] hoytpr commented on #99
I'd definitely remove that reference to Power she'll. Also Cygwin as we don't use that in any formalized workshops I am aware of (even though I like it more than Gitbash).

The WSL is also still a problem unless we all decide to spend a day teaching learners how to install the WSL, then the same version of Ubuntu offered through Google Play. I use Windows a lot (I'm not a Windows fanatic), but any

[2022-06-22 11:21] tobyhodges opened #200 "UNIX -> Unix"
_What change I am proposing?_ This lesson uses two alternative spellings: "Unix" and "UNIX". I would like to adopt a consistent spelling throughout the lesson and repository. Based on [what I have read about the history of the project](https://en.wikipedia.org/wiki/Unix#History), I believe "Unix" is the appropriate choice.

_Why am I proposing this change?_ As well as making the lesson and reposit

[2022-06-24 20:45] kaitlinnewson commented on #200
This change makes sense to me!

[2022-06-24 21:07] emcaulay commented on #200
I agree! Thank you for noticing this detail!

[2022-06-27 08:41] tobyhodges opened #202 "Include instructions to switch to Bash for recent MacOS versions"
Recent versions of MacOS (since Mojave, I think?) use Zsh as the default shell instead of Bash. The setup instructions for this lesson mention this but do not provide instructions for how a learner can make sure they are using Bash to follow the lesson. If they do not switch over, it is likely they will not notice any problem for the first parts of the lesson, but will run into trouble unexpectedl

[2022-08-05 17:22] mwhamgenomics opened #206 "Missing dependency when running Jekyll"
After following the setup instructions for the Carpentries workshop template, I ran into Jekyll errors when running `make serve`:

[code]

This can be worked around with `bundle add webrick`, but the permanent fix would be to update this repo's Gemfile in line with the template's one - see https://github.com/carpentries/workshop-template/issues/759.

[2022-08-15 13:18] DelilahYM opened #208 "Add two more options to "less" command"
In https://librarycarpentry.org/lc-shell/03-working-with-files-and-folders/index.html, when we mentioned "less" command in
"Reading files" session, I found it would be very useful to introduce the following two items with "less":
1. (Display line numbers)The "-N" option with less to display the file with line numbers, which is extremely useful when looking at log/error files, and
2. (Pattern searc

[2022-08-25 04:45] ramson33 opened #209 "Editing files"
https://librarycarpentry.org/lc-shell/03-working-with-files-and-folders/index.html
if WSL for windows is added as suggested in a previous issue, as a basic way to view/edit/read files, Nano could be introduced. (Of course understand if lesson already too full)
It has less "barrier" to entry than vim with more basic keyboard commands.

Open a file:
nano filename.txt
To save a file ctrl + s
To exit

[2022-09-29 18:44] jmjamison commented on #190
I'd agree with @kaitlinnewson.  This is not a lesson I generally teach but when I do the learners are often new to the concepts.  Adding this might be throwing too much at them in the beginning.

[2022-10-13 09:31] #99 closed

[2022-10-13 09:33] #190 closed

[2022-10-21 20:08] jmjamison commented on #208
Question.  If this is an introduction to the shell I'm not sure if isn't throwing too much at the participants.  I have to go back through the lesson and see if wildcards had been introduced yet.  Other opinions?

[2022-10-30 01:56] mandyphippsgreen opened #213 "Suggested restructure of 'Using History' section of lc-shell/03-working-with-files-and-folders"
https://librarycarpentry.org/lc-shell/03-working-with-files-and-folders/index.html

For me, the 'Using history' section in Episode 3 Working with Files and Directories is text heavy and in one large paragraph chunk, that jumped between 'history' actions and 'Ctrl + r' actions. I found it somewhat confusing to follow and think it could be re-structured to improve readability and clarity for learner

[2022-11-22 00:00] jas58 opened #214 "Re-use SWC's revised setup at https://carpentries.github.io/workshop-template/#shell"
I learned Git through Software Carpentries, https://carpentries.github.io/workshop-template/#shell.
As an anxious learner, the depth of guidance is much more reassuring.
Is there any reason (for example changing a default setting as SWC occasionally does) to rely on Git Bash in Windows' defaults?
If this has been discussed before, please guide me to the comments and I can close.

---